<!-- views/fruit-detail.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= fruit.name %> Details</title>
  <link rel="stylesheet" href="/css/fruit.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

    <%- include('partials/navbar') %>

  <div class="container">
    
    <div class="fruit-details">
      <a href="/update/<%=fruit.name%>"><button class="edit-button">Edit</button></a>

      <h1 class="fruit-name"><%= fruit.name %></h1>

      <img src="<%= fruit.f_imgs %>" alt="<%= fruit.name %>" class="fruit-image">

      <div class="botanical-info">
        <p><strong>Family:</strong> <%= fruit.name %></p>
        <p><strong>Order:</strong> <%= fruit.f_order %></p>
        <p><strong>Genus:</strong> <%= fruit.genus %></p>
      </div>

      <a href="/" class="back-button">Back to Gallery</a>
    </div>
  </div>
</body>
</html>
